
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery 1</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <!-- start gallery scripts -->
    <link rel="stylesheet" href="css/tmMultimediaGallery.css">
    <script src="js/gallery/isotope.pkgd.min.js"></script>
    <!--<script src="js/gallery/tmFileList.js"></script>-->
    <script src="js/gallery/tmPaginationGenerator.js"></script>
    <script src="js/gallery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/gallery/jquery.ui.touch-punch.js"></script>
    <script src="js/gallery/tmDraggablePagination.js"></script>
    <script src="js/gallery/tmMultimediaGallery.js"></script>
    <script src="js/gallery/tmMultimediaGallery_init.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/gallery/jquery.touchSwipe.min.js"></script>
    <!--<![endif]-->
    <!-- end gallery scripts -->
</head>


<body>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="socials-block">
                        <ul class="socials1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">Music Band</a>
                        </h1>
                        <nav>
                            <ul class="sf-menu">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="#">Scingraesent</a></li>
                                        <li>
                                            <a href="#">Lum molestie</a>
                                            <ul>
                                                <li><a href="#">Pellentesque</a></li>
                                                <li><a href="#">Aliquam</a></li>
                                                <li><a href="#">Mauris</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Aenean non</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-1.html">Reviews</a></li>
                                <li><a href="index-2.html">Gallery</a></li>
                                <li><a href="index-3.html">Blog</a></li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!--========================================================
                              CONTENT
    =========================================================-->

    <div class="galleryContainer">
        <!-- spinner -->
        <div class="imgSpinner"></div>
        <!-- close button -->
        <a href="" class="close-icon"><i class="fa fa-times"></i></a>

        <!-- Navigation -->
        <!-- previous button -->
        <a href="#" class="prevButton">
            <i class="fa fa-angle-left"></i>
        </a>
        <!-- next button -->
        <a href="#" class="nextButton">
            <i class="fa fa-angle-right"></i>
        </a>

        <!-- main gallery and image holder -->
        <div class="galleryHolder">
            <div class="imageHolder">
                <img src="images/gallery1/full/Depositphotos_1252142_original.jpg" alt>
            </div>
        </div>

        <div class="carousel-holder">
            <div class="carousel inner">
                <!-- holder for pagination -->
            </div>
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
        </div>

    </div>

    <section id="content" class="common">
        <div class="wrapper4">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading2">
                            <h2>Gallery 1</h2>
                        </div>
                        <div class="relative-wrapper">
                            <div class="content-load-spinner"></div>
                            <div class="inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="privacy-block">
                            <span id="copyright-year"></span> &copy; <a href="index-5.html">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="info-block">
                            <span><a href="#">Support</a></span>
                            <span><a href="#">FAQs</a></span>
                            <span><a href="#">Sitemap</a></span>
                            <span><a href="#">Help</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        $(function () {
            pathThumb = 'images/gallery1/';
            pathFull = 'images/gallery1/full/';
        })
    </script>

    <script src="js/script.js"></script>
</body>
</html>