
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/jquery.equalheights.js"></script>

</head>


<body>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="socials-block">
                        <ul class="socials1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">Music Band</a>
                        </h1>
                        <nav>
                            <ul class="sf-menu">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="#">Scingraesent</a></li>
                                        <li>
                                            <a href="#">Lum molestie</a>
                                            <ul>
                                                <li><a href="#">Pellentesque</a></li>
                                                <li><a href="#">Aliquam</a></li>
                                                <li><a href="#">Mauris</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Aenean non</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-1.html">Reviews</a></li>
                                <li class="current"><a href="index-2.html">Gallery</a></li>
                                <li><a href="index-3.html">Blog</a></li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!--========================================================
                              CONTENT
    =========================================================-->
    <section id="content" class="common">
        <div class="wrapper4">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading3">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img1.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Fusce euismod consequat ante.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img2.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Fusce euismod consequat ante.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img3.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Fusce euismod consequat ante.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img4.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Morbi purus est, aliquam at iaculis ut.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img5.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Purus est, aliquam at iaculis ut, vestibulum.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img6.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Aliquam at iaculis ut, vestibulum sodales ex.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img7.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Vestibulum sodales ex sed pulvinar ac.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img8.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Sed pulvinar ac nunc quis iaculis.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box6">
                            <div class="gallery_image">
                                <a class="big-image" href="gallery1.html">
                                    <img src="images/page3_img9.png" alt="" />
                                    <div class="gallery_hover">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="content maxheight">
                                <h5>
                                    <a href="gallery1.html">Vstibulum sodales ex. Sed pulvinar ac nunc.</a>
                                </h5>
                                <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="privacy-block">
                            <span id="copyright-year"></span> &copy; <a href="index-5.html">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="info-block">
                            <span><a href="#">Support</a></span>
                            <span><a href="#">FAQs</a></span>
                            <span><a href="#">Sitemap</a></span>
                            <span><a href="#">Help</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>