
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reviews</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

</head>


<body>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="socials-block">
                        <ul class="socials1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">Music Band</a>
                        </h1>
                        <nav>
                            <ul class="sf-menu">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="#">Scingraesent</a></li>
                                        <li>
                                            <a href="#">Lum molestie</a>
                                            <ul>
                                                <li><a href="#">Pellentesque</a></li>
                                                <li><a href="#">Aliquam</a></li>
                                                <li><a href="#">Mauris</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Aenean non</a></li>
                                    </ul>
                                </li>
                                <li class="current"><a href="index-1.html">Reviews</a></li>
                                <li><a href="index-2.html">Gallery</a></li>
                                <li><a href="index-3.html">Blog</a></li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!--========================================================
                              CONTENT
    =========================================================-->
    <section id="content" class="common">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading2">
                            <h2>A Few Interesting Facts About Our Band</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my ..hendrerit. mauris.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box4">
                            <h3>
                                <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                et magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatlesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.
                            </p>
                            <a class="btn-default" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper3">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="wrapper-for-divider">
                            <div class="row">
                                <div class="grid_3">
                                    <div class="heading1">
                                        <h2>Latest Albums Reviews</h2>
                                    </div>
                                    <div class="box3-wrapper1 box3-wrapper1__inset1">
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum mo.</a>
                                        </h3>
                                        <div class="box3">
                                            <img src="images/page2_img1.png" alt="" />
                                            <p>
                                                <span class="highlighted"><a href="#">Lorem ipsum dolor sit amet,</a></span>consec tetuer adipiscing.
                                                lum molestie lacuiirhs. Aene.
                                            </p>
                                        </div>

                                        <div class="box3">
                                            <img src="images/page2_img2.png" alt="" />
                                            <p>
                                                <span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Aenean non ummy hendreria.
                                                uris. Phasellllus. porta. Fusce.
                                            </p>
                                        </div>

                                        <div class="box3">
                                            <img src="images/page2_img3.png" alt="" />
                                            <p><span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Fusce suscipit varius mium. sociis totdnatibus et magis.</p>
                                        </div>

                                        <a class="btn-default" href="#">more</a>
                                    </div>
                                </div>
                                <div class="grid_1">
                                    <div class="divider1"></div>
                                </div>
                                <div class="grid_8">
                                    <div class="heading1">
                                        <h2>Music in Our Life</h2>
                                    </div>

                                    <div class="box5-wrapper1">
                                        <div class="box5">
                                            <h5>
                                                <a href="#">In pede mi, aliquet sit amet, euismod in,auctor ut, ligula</a>
                                            </h5>
                                            <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatle.suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                                        </div>

                                        <div class="box5">
                                            <h5>
                                                <a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</a>
                                            </h5>
                                            <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatle.suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                                        </div>

                                        <div class="box5">
                                            <h5>
                                                <a href="#">Sed in lacus ut enim adipiscing aliquet</a>
                                            </h5>
                                            <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat. Ret magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatle.suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy henrerit mauris. Phasellus porta. Fusce suscipit varius mium sociis natoque penatibus et magnis dis. parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="privacy-block">
                            <span id="copyright-year"></span> &copy; <a href="index-5.html">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="info-block">
                            <span><a href="#">Support</a></span>
                            <span><a href="#">FAQs</a></span>
                            <span><a href="#">Sitemap</a></span>
                            <span><a href="#">Help</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>