
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl").owlCarousel({
                items: 1, //10 items above 1000px browser width
                itemsDesktop: [1199, 1], //5 items between 1000px and 901px
                itemsDesktopSmall: [767, 1], // betweem 900px and 601px
                itemsTablet: [700, 1], //2 items between 600 and 0
                itemsMobile: [479, 1], // itemsMobile disabled - inherit from itemsTablet option
                navigation: true,
                pagination: false
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <div id="ie6-alert" style="width: 100%; text-align:center;">
      <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
      <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
        <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
      </map>
    </div>
    <![endif]-->
</head>


<body>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="socials-block">
                        <ul class="socials1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">Music Band</a>
                        </h1>
                        <nav>
                            <ul class="sf-menu">
                                <li class="current">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="#">Scingraesent</a></li>
                                        <li>
                                            <a href="#">Lum molestie</a>
                                            <ul>
                                                <li><a href="#">Pellentesque</a></li>
                                                <li><a href="#">Aliquam</a></li>
                                                <li><a href="#">Mauris</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Aenean non</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-1.html">Reviews</a></li>
                                <li><a href="index-2.html">Gallery</a></li>
                                <li><a href="index-3.html">Blog</a></li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!--========================================================
                              CONTENT
    =========================================================-->
    <section id="content">
        <div class="banner1">
        </div>

        <div class="banner2">
            <div class="container">
                <div class="row">
                    <div class="grid_10 preffix_1">
                        <h6>Hello!</h6>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="wrapper1">
                        <div class="row">
                            <div class="grid_4">
                                <div class="box1">
                                    <img src="images/page1_img11.png" alt="" />
                                    <h4>
                                        <a href="#">Consequat ante</a>
                                    </h4>
                                    <span class="heading">Lorem ipsum dolor sit amet, consec tetue.</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consec tetuer adipi
                                        scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                    </p>
                                    <a class="btn-simple" href="#">more</a>
                                </div>
                            </div>

                            <div class="grid_4">
                                <div class="box1">
                                    <img src="images/page1_img12.png" alt="" />
                                    <h4>
                                        <a href="#">Adipiscing elit</a>
                                    </h4>
                                    <span class="heading">consec tetuer adipi scing Praesent.</span>
                                    <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat.</p>
                                    <a class="btn-simple" href="#">more</a>
                                </div>
                            </div>

                            <div class="grid_4">
                                <div class="box1">
                                    <img src="images/page1_img13.png" alt="" />
                                    <h4>
                                        <a href="#">Mauris accumsan</a>
                                    </h4>
                                    <span class="heading">lum molestie lacuiirhs. Aenean non um</span>
                                    <p>
                                        Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat.
                                        ibuset magis dis parturient montes, nascetur.
                                    </p>
                                    <a class="btn-simple" href="#">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="wrapper-for-divider">
                            <div class="row">
                                <div class="grid_4">
                                    <div class="heading1">
                                        <h2>Welcome to our site!</h2>
                                    </div>
                                    <div class="box2">
                                        <img src="images/page1_img14.png" alt="" />
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                                        </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                            et magis dis parturient montes, nascetur ridiculus mus. Nulla dui.
                                        </p>
                                        <a class="btn-default" href="#">more</a>
                                    </div>
                                </div>
                                <div class="grid_1">
                                    <div class="divider1"></div>
                                </div>
                                <div class="grid_3">
                                    <div class="heading1">
                                        <h2>News</h2>
                                    </div>
                                    <div id="owl">
                                        <div class="item">
                                            <div class="post1">
                                                <time datetime="2014-01-01">09.10.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>

                                            <div class="divider"></div>

                                            <div class="post1">
                                                <time class="time__color1" datetime="2014-01-01">09.09.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="post1">
                                                <time datetime="2014-01-01">09.08.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>

                                            <div class="divider"></div>

                                            <div class="post1">
                                                <time class="time__color1" datetime="2014-01-01">09.07.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="post1">
                                                <time datetime="2014-01-01">09.06.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>

                                            <div class="divider"></div>

                                            <div class="post1">
                                                <time class="time__color1" datetime="2014-01-01">09.05.2013</time>
                                                <h3>
                                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                                </h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consec tetuer adipi
                                                    scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid_1">
                                    <div class="divider1"></div>
                                </div>
                                <div class="grid_3">
                                    <div class="heading1">
                                        <h2>Latest Reviews</h2>
                                    </div>
                                    <div class="box3-wrapper1">
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum mo.</a>
                                        </h3>
                                        <div class="box3">
                                            <img src="images/page1_img15.png" alt="" />
                                            <p>
                                                <span class="highlighted"><a href="#">Lorem ipsum dolor sit amet,</a></span>consec tetuer adipiscing.
                                                lum molestie lacuiirhs. Aene.
                                            </p>
                                        </div>

                                        <div class="box3">
                                            <img src="images/page1_img16.png" alt="" />
                                            <p>
                                                <span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Aenean non ummy hendreria.
                                                uris. Phasellllus. porta. Fusce.
                                            </p>
                                        </div>

                                        <div class="box3">
                                            <img src="images/page1_img17.png" alt="" />
                                            <p><span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Fusce suscipit varius mium. sociis totdnatibus et magis.</p>
                                        </div>

                                        <a class="btn-default" href="#">more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="privacy-block">
                            <span id="copyright-year"></span> &copy; <a href="index-5.html">Privacy Policy</a>
                            <!--{%FOOTER_LINK} -->
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="info-block">
                            <span><a href="#">Support</a></span>
                            <span><a href="#">FAQs</a></span>
                            <span><a href="#">Sitemap</a></span>
                            <span><a href="#">Help</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7078796-5']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();</script>
</body>
</html>