
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

</head>


<body>
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="socials-block">
                        <ul class="socials1">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">Music Band</a>
                        </h1>
                        <nav>
                            <ul class="sf-menu">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="#">Scingraesent</a></li>
                                        <li>
                                            <a href="#">Lum molestie</a>
                                            <ul>
                                                <li><a href="#">Pellentesque</a></li>
                                                <li><a href="#">Aliquam</a></li>
                                                <li><a href="#">Mauris</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Aenean non</a></li>
                                    </ul>
                                </li>
                                <li><a href="index-1.html">Reviews</a></li>
                                <li><a href="index-2.html">Gallery</a></li>
                                <li class="current"><a href="index-3.html">Blog</a></li>
                                <li><a href="index-4.html">Contacts</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!--========================================================
                              CONTENT
    =========================================================-->
    <section id="content" class="common">
        <div class="wrapper5">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="heading2">
                            <h2>Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid_12">
                        <div class="post2">
                            <div class="row">
                                <div class="grid_2">
                                    <time datetime="2014-01-01">09.09.2014</time>
                                    <div class="info">
                                        <span>Category: <a href="#">Posuere</a></span>
                                        <span>Written by: <a href="#">Admin</a></span>
                                        <span>Hits: <a href="#">12</a></span>
                                    </div>
                                </div>
                                <div class="grid_4">
                                    <img src="images/page4_img1.png" alt="" />
                                </div>
                                <div class="grid_6">
                                    <h5>
                                        <a href="#">
                                            Sed pellentesque lacus sed ullamcorper porttitor. Nam varius aliquam<br>
                                            sapien, non pharetra ligula tincidunt tincidunt.
                                        </a>
                                    </h5>
                                    <p>Aenean tristique ipsum eu orci suscipit, eu fermentum mi varius. Fusce ultricies tellus magna, ac condimentum elit pellentesque et. Nullam sem sapien, tincidunt in neque vehicula, convallis dapibus lectus. Donec malesuada dapibus dolor, eu vestibulum velit semper id. Donec volutpat placerat dolor in tincidunt. Quisque luctus nibh ac massa interdum accumsan. Pellentesque pulvinar ex eu congue tincidunt. In ornare, lorem id ullamcorper hendrerit, justo nibh sagittis dolor, ut hendrerit nulla quam nec est. Morbi purus est, aliquam at iaculis ut, vestibulum sodales ex. Sed pulvinar ac nunc quis iaculis. Phasellus libero nulla, tempus sit amet odio vel, ullamcorper mattis sem. Nullam id diam bibendum, luctus augue vel, interdum nisl. Pellentesque ac malesuada nunc, ac volutpat magna.</p>
                                    <p>Mauris iaculis lectus quis velit euismod scelerisque. Aenean euismod bibendum arcu, a pellentesque tellus accumsan vel. Donec non vehicula orci. Morbi condimentum est magna, id semper felis euismod.</p>
                                    <a class="btn-default" href="#">More</a>
                                </div>
                            </div>
                        </div>

                        <div class="post2">
                            <div class="row">
                                <div class="grid_2">
                                    <time datetime="2014-01-01">10.11.2014</time>
                                    <div class="info">
                                        <span>Category: <a href="#">Posuere</a></span>
                                        <span>Written by: <a href="#">Admin</a></span>
                                        <span>Hits: <a href="#">12</a></span>
                                    </div>
                                </div>
                                <div class="grid_4">
                                    <img src="images/page4_img2.png" alt="" />
                                </div>
                                <div class="grid_6">
                                    <h5>
                                        <a href="#">
                                            Sed pellentesque lacus sed ullamcorper porttitor. Nam varius aliquam<br>
                                            sapien, non pharetra ligula tincidunt tincidunt.
                                        </a>
                                    </h5>
                                    <p>Aenean tristique ipsum eu orci suscipit, eu fermentum mi varius. Fusce ultricies tellus magna, ac condimentum elit pellentesque et. Nullam sem sapien, tincidunt in neque vehicula, convallis dapibus lectus. Donec malesuada dapibus dolor, eu vestibulum velit semper id. Donec volutpat placerat dolor in tincidunt. Quisque luctus nibh ac massa interdum accumsan. Pellentesque pulvinar ex eu congue tincidunt. In ornare, lorem id ullamcorper hendrerit, justo nibh sagittis dolor, ut hendrerit nulla quam nec est. Morbi purus est, aliquam at iaculis ut, vestibulum sodales ex. Sed pulvinar ac nunc quis iaculis. Phasellus libero nulla, tempus sit amet odio vel, ullamcorper mattis sem. Nullam id diam bibendum, luctus augue vel, interdum nisl. Pellentesque ac malesuada nunc, ac volutpat magna.</p>
                                    <p>Mauris iaculis lectus quis velit euismod scelerisque. Aenean euismod bibendum arcu, a pellentesque tellus accumsan vel. Donec non vehicula orci. Morbi condimentum est magna, id semper felis euismod.</p>
                                    <a class="btn-default" href="#">More</a>
                                </div>
                            </div>
                        </div>

                        <div class="post2">
                            <div class="row">
                                <div class="grid_2">
                                    <time datetime="2014-01-01">11.12.2014</time>
                                    <div class="info">
                                        <span>Category: <a href="#">Posuere</a></span>
                                        <span>Written by: <a href="#">Admin</a></span>
                                        <span>Hits: <a href="#">12</a></span>
                                    </div>
                                </div>
                                <div class="grid_4">
                                    <img src="images/page4_img3.png" alt="" />
                                </div>
                                <div class="grid_6">
                                    <h5>
                                        <a href="#">
                                            Sed pellentesque lacus sed ullamcorper porttitor. Nam varius aliquam<br>
                                            sapien, non pharetra ligula tincidunt tincidunt.
                                        </a>
                                    </h5>
                                    <p>Aenean tristique ipsum eu orci suscipit, eu fermentum mi varius. Fusce ultricies tellus magna, ac condimentum elit pellentesque et. Nullam sem sapien, tincidunt in neque vehicula, convallis dapibus lectus. Donec malesuada dapibus dolor, eu vestibulum velit semper id. Donec volutpat placerat dolor in tincidunt. Quisque luctus nibh ac massa interdum accumsan. Pellentesque pulvinar ex eu congue tincidunt. In ornare, lorem id ullamcorper hendrerit, justo nibh sagittis dolor, ut hendrerit nulla quam nec est. Morbi purus est, aliquam at iaculis ut, vestibulum sodales ex. Sed pulvinar ac nunc quis iaculis. Phasellus libero nulla, tempus sit amet odio vel, ullamcorper mattis sem. Nullam id diam bibendum, luctus augue vel, interdum nisl. Pellentesque ac malesuada nunc, ac volutpat magna.</p>
                                    <p>Mauris iaculis lectus quis velit euismod scelerisque. Aenean euismod bibendum arcu, a pellentesque tellus accumsan vel. Donec non vehicula orci. Morbi condimentum est magna, id semper felis euismod.</p>
                                    <a class="btn-default" href="#">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="grid_6">
                        <div class="privacy-block">
                            <span id="copyright-year"></span> &copy; <a href="index-5.html">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="info-block">
                            <span><a href="#">Support</a></span>
                            <span><a href="#">FAQs</a></span>
                            <span><a href="#">Sitemap</a></span>
                            <span><a href="#">Help</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>