@{
    ViewBag.Title = "Index";
}

<div class="banner1">
</div>

<div class="banner2">
    <div class="container">
        <div class="row">
            <div class="grid_10 preffix_1">
                <h6>Hello</h6>
                <p>
                    Welcome to the OrientXpress website. OrientXpress is a great Chinese and Western jazz band from Wellington, New Zealand.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="grid_12">
            <div class="wrapper1">
                <div class="row">
                    <div class="grid_4">
                        <div class="box1">
                            <img src="~/Content/images/page1_img11.png" />
                            <h4>
                                <a href="#">Consequat ante</a>
                            </h4>
                            <span class="heading">Lorem ipsum dolor sit amet, consec tetue.</span>
                            <p>
                                Lorem ipsum dolor sit amet, consec tetuer adipi
                                scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                            </p>
                            <a class="btn-simple" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box1">
                            <img src="~/Content/images/page1_img12.png" alt="" />
                            <h4>
                                <a href="#">Adipiscing elit</a>
                            </h4>
                            <span class="heading">consec tetuer adipi scing Praesent.</span>
                            <p>Scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat.</p>
                            <a class="btn-simple" href="#">more</a>
                        </div>
                    </div>

                    <div class="grid_4">
                        <div class="box1">
                            <img src="~/Content/images/page1_img13.png" alt="" />
                            <h4>
                                <a href="#">Mauris accumsan</a>
                            </h4>
                            <span class="heading">lum molestie lacuiirhs. Aenean non um</span>
                            <p>
                                Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnat.
                                ibuset magis dis parturient montes, nascetur.
                            </p>
                            <a class="btn-simple" href="#">more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper2">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="wrapper-for-divider">
                    <div class="row">
                        <div class="grid_4">
                            <div class="heading1">
                                <h2>Welcome to our site!</h2>
                            </div>
                            <div class="box2">
                                <img src="~/Content/images/page1_img14.png" alt="" />
                                <h3>
                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum molestie lacuiirhs. Aeneon my.</a>
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. porta. Fusce suscipit varius mium sociis totdnatibus
                                    et magis dis parturient montes, nascetur ridiculus mus. Nulla dui.
                                </p>
                                <a class="btn-default" href="#">more</a>
                            </div>
                        </div>
                        <div class="grid_1">
                            <div class="divider1"></div>
                        </div>
                        <div class="grid_3">
                            <div class="heading1">
                                <h2>News</h2>
                            </div>
                            <div id="owl">
                                @*<div data-ng-repeat="item in newsCollection">
                                    <news-preview title="{{item.Title}}" date="{{item.Date}}" content="{{item.Content}}" ></news-preview>
                                </div>*@

                                

                                <div class="item" data-ng-repeat="item in newsCollection">
                                    <div class="post1">
                                        <time datetime="2014-01-01">09.08.2013</time>
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                        </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec tetuer adipi
                                            scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post1">
                                        <time datetime="2014-01-01">09.08.2013</time>
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                        </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec tetuer adipi
                                            scing. Praesent vestibu. lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                        </p>
                                    </div>

                                    <div class="divider"></div>

                                    <div class="post1">
                                        <time class="time__color1" datetime="2014-01-01">09.07.2013</time>
                                        <h3>
                                            <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum</a>
                                        </h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec tetuer adipi
                                            scing. Praesent vestibu. lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="grid_1">
                            <div class="divider1"></div>
                        </div>
                        <div class="grid_3">
                            <div class="heading1">
                                <h2>Latest Reviews</h2>
                            </div>
                            <div class="box3-wrapper1">
                                <h3>
                                    <a href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum mo.</a>
                                </h3>
                                <div class="box3">
                                    <img src="~/Content/images/page1_img15.png" alt="" />
                                    <p>
                                        <span class="highlighted"><a href="#">Lorem ipsum dolor sit amet,</a></span>consec tetuer adipiscing.
                                        lum molestie lacuiirhs. Aene.
                                    </p>
                                </div>

                                <div class="box3">
                                    <img src="~/Content/images/page1_img16.png" alt="" />
                                    <p>
                                        <span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Aenean non ummy hendreria.
                                        uris. Phasellllus. porta. Fusce.
                                    </p>
                                </div>

                                <div class="box3">
                                    <img src="~/Content/images/page1_img17.png" alt="" />
                                    <p><span class="highlighted"><a href="#">Consec tetuer adipiscing.</a></span>Fusce suscipit varius mium. sociis totdnatibus et magis.</p>
                                </div>

                                <a class="btn-default" href="#">more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>